{% extends "base.html.twig" %}
{% block body %} 
<p>
 Le titulaire du BUT réseaux et télécommunications doit être capable de s'adapter 
aux spécificités de son entreprise. Il peut constituer ou analyser un cahier des charges, 
élaborer ou choisir des solutions techniques et des produits. Il peut aussi installer et
mettre au point des équipements (réseaux, environnements applicatifs, systèmes 
d'exploitation) et assurer leur maintenance. Il peut s'agir de réseaux informatiques 
classiques, à intégration de services, mobiles ou autres. Enfin, il peut représenter son 
entreprise auprès des clients.
Les débouchés sont nombreux chez les constructeurs d'équipements réseaux, 
opérateurs de télécommunications fournisseurs d'accès Internet, dans les entreprises 
et les administrations gérant elles-mêmes leurs systèmes d'information et de 
communication, chez les installateurs de téléphonie et dans les ESN.
Le diplômé peut évoluer vers l'encadrement de petites équipes.

</p>
 {% endblock %}